/* Font  */
@font-face {
    font-family:'animeace' ;
    src: url('./ASSETS/animeace2_bld.otf');
}
@font-face {
    font-family:'Lumios-Marker' ;
    src: url('./ASSETS/Lumios-Marker.otf');
}
@font-face {
    font-family:'Chalkduster' ;
    src: url('./ASSETS/Chalkduster.otf');
}


@font-face {
    font-family:'BadScript-Regular' ;
    src: url('./ASSETS/BadScript-Regular.otf');
}
@font-face {
    font-family:'Broadcast_Matter' ;
    src: url('./ASSETS/Broadcast_Matter.otf');
}
@font-face {
    font-family:'Chalkduster' ;
    src: url('./ASSETS/Chalkduster.otf');
}
@font-face {
    font-family:'Muli-Bold' ;
    src: url('./ASSETS/Muli-Bold.otf');
}
@font-face {
    font-family:'Muli-Light' ;
    src: url('./ASSETS/Muli-Light.otf');
}
html{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    
}
body{
    margin: 0 auto;
    /* border: 1px solid red; */
    /* overflow: hidden; */
}


/* Header  */
header{
    z-index: 10;
    position: fixed;
    background-color: white;
    width: 100%;

     padding-bottom: 30px;
     border-radius: 0 0 100% 100%  ;
    
}
.h1-header{
    text-align: center;
    margin-bottom: 5px;
    font-family:Muli-Bold ;

}
.corazon{
    margin-bottom: 4px;
    width: 50px;
    height:50px;
}
.h2-header{
    color: #EB9731;
    font-family: BadScript-Regular;
   margin: 0;
   margin-left: 170px;
   margin-bottom: 50px;
   /* padding: 0; */
    font-size: 50px;
    text-align: center;
    line-height: 0;
}
.container-p-header{
    width: 45%;
    /* border: 1px solid red; */
    margin: 0 auto;
    text-align: center;
}
.p-header{
    font-family:Muli-Light ;
}
.strong{
   font-family: Muli-Bold;
   font-size: 17px;
}

.atome{
    position: absolute;
    top: 50%;
    left: 10%;
    width: 120px;
    height: 120px;
}
.crayon{
    position: absolute;
    right: 20%;
    top: 0%;
    width: 120px;
    height: 120px;
}

/* Main  */

.main{
    height: calc(100dvh - 28dvh);
    padding-top: 240px;
    width: 100%;
    overflow: hidden;
    background-color: #F4F1FB;
    position: relative;
}
/* carrousel */
.div-img-carousel{
    /* inner  */
    /* width: 400px; */
    width: 50%;
    height: 50%;
    /* margin: 0 auto; */
    display: flex;
    justify-content: center;
    align-items: center;
position: relative;
/* border: 1px solid red; */

overflow: hidden;
}


.img-carrousel{
    /* width: 50%; */
    /* width: 00px; */
    /* height: 50%; */
    display: none;
}

img.active{
    display: inline-block;
    width: 50%;
}

.carrousel{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}
.h3-main{
    text-align: center;
    font-family:Muli-Bold ;
}
.intensity{
    color: #EB9731;
    font-family: BadScript-Regular;
    font-size: 25px;
}
.div-description-carrousel{
    /* width: 50%;
    margin: 0 auto; */
    text-align: center;
    /* border: 1px solid red; */
    line-height: 20px;
}
.div-description-carrousel h4{
    font-family: Lumios-Marker;
    font-weight: 100;
    font-size: 35px;
    margin: 0;
    margin-bottom: 10px;
}
.div-description-carrousel p{
    font-family: Muli-Light;
    margin: 0;
    margin-bottom: 20px;
    /* font-size: 25px; */
}
.div-description-carrousel a{
 padding: 6px 130px;
 text-decoration: none;
 font-weight: bold;
 color: #fff;
 font-family:Muli-Bold ;
 background-color: #EB9731;
 border-radius: 50px;
}
#right-arrow,#left-arrow{
    cursor: pointer;
}

#right-arrow{
    position: absolute;
    right: 35%;
}
#left-arrow{
    position: absolute;
    left: 35%;
    z-index: 10;
}
/* section pen side  */
.pen-box{
    position: absolute;
    /* width: auto; */
    
    /* height: 600px; */
    /* border: 1px solid black; */
    top: 50%;
    right: -3%;
    transform: rotate(270deg);

    display: flex;
    align-items: flex-end;
    /* flex-direction: column; */
    gap: 40px;
}

.pencil{
    height: 100px;
    opacity: 0.5;
    /* position: absolute; */
    /* right: 50%; */
    transition: all 0.5s ease;
}

.active-anim{
    transition: all 0.5s ease;
    height: 150px;
    opacity: 1;

}
#name{
   color: #C7669C;
}

/* img  */
.planete{
position: absolute;
width: 180px;
height: 180px;
left: -1%;
bottom:26% ;

}
.etoile-droite{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 35%;
    left: 23%;
}
.etoile-gauche{
    position: absolute;
    width: 25px;
    height: 25px;
    top: 40%;
    left: 325px;
    
}
.avion{
    position: absolute;
    width: 120px;
    height: 120px;
    top: 35%;
    left: 15%;

}
.oeil{
    position: absolute;
    width: 70px;
    height: 70px;
    bottom: 7%;
    right: 3%;
    transform: rotate(-20deg);
}
.ampoule{
    position: absolute;
    width: 120px;
    height: 120px;
    bottom: 14%;
    right: 6%;
}
.eclair{
    position: absolute;
    width: 80px;
    height: 80px;
    top: 28%;
    right: 22%;
   
}